<p>Vous venez de recevoir un mail de {{ nom }} possedant de l'adresse mail suivante: {{ addmail }} via l'onglet de contact de votre site.</p>
<p>Contenu du message:</p>
<p>{{ msg }}</p>
<p>Merci de ne pas répondre.</p>
