{% extends 'base.html.twig' %} 

{% block title %} Info Site web{% endblock %}
    {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
 {% block body %}
                    <!-- One -->
					<section id="one" class="wrapper style1 special contactMain">
                    <div id="flexCon">
                    <div class="row info-contact">
                        <div class="col-6 col-12-medium">
 
                        </div>
                        <div class="col-6 col-12-medium">
                            <!-- Contact -->
                            <section class="feature-list small ">
                                <div class="row">
                                    <div class="col-6 col-12-small formFooter">
                                        <section>
                                            <h3>Développeur Web:</h3>
                                            <p>
                                                Bruce MONGTHE</br>
                                                email: brucemongthe13@gmail.com </br>
                                                <a href="tel:0611703750">tél: 06 11 70 37 50</a></br>
                                                N'hésitez pas à me contacter pour un projet informatique
                                            </p>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    </div>
                    </div>
					</section>
{% endblock %}