{% extends 'base.html.twig' %} 

{% block title %} Profil {{ app.user.nom }} {% endblock %}

 {% block body %}
<section class="wrapper style1 special">

    <div class="container profil">
    
        <h1>Changer Mot de passe</h1>
        {{ form_start(form, {'attr': {'class': 'form-register'} }) }}

                    <button type="submit">Valider</button>
        {{ form_end(form) }}

    <div>

</section>
{% endblock %}