{% extends 'base.html.twig' %} 

{% block title %} Panel administrateur {{ app.user.nom }} {% endblock %}


{% block body %}
    <h1>Page not found</h1>

    <p>dqsdqsdq
erreur
    </p>
{% endblock %}